body {
    font-family: 'Open Sans', sans-serif;
}
header {
    margin-bottom: 3rem;
}
.navbar {
    background-color: #10171f;
}
.navbar-brand {
    align-items: center;
}
.nav-title {
    margin-left: 3rem;
}
.nav-username {
    margin-left: 2rem;
    margin-right: 2rem;
}
.main-logo {
    border: 2px solid #000;
    width: 100%;
    margin-bottom: 2rem;
}
.main-block {
    padding: 2rem 2rem;
    border: 2px solid #000;
    display: inline-block;
    width: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.profile-logo {
    width: 10%;
    height: 10%;
    border: solid 2px rgb(36, 11, 255)
}
.raid-choose {
    border: 2px solid #000;
    width: 30%;
}