<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>War of Krasnogorsk</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand d-flex" href="/">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" width="160" height="80" class="d-inline-block align-text-top">
                    <h2 class="nav-title d-inline-block">War of Krasnogorsk</h2>
                </a>
                <div class="d-flex">
                    {% if current_user.is_authenticated %}
                        <div class="navbar-brand d-flex">
                            <h4 class="nav-username">{{ current_user.name }}</h4>
                            <a class="btn btn-danger" href="/logout">Log out</a>
                        </div>
                    {% else %}
                        <div class="navbar-brand">
                            <a class="btn btn-primary" href="/register">Register</a>
                            <a class="btn btn-success" href="/login">Log in</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>
</html>