{% extends "base.html" %}

{% block content %}
{% if not current_user.player %}
    <h3>Выбери свой район</h3>
    <p>
        <a href="/choose_area/1">Чернево 1</a>
        <a href="/choose_area/2">Чернево 2</a>
        <a href="/choose_area/3">Бруски</a>
        <a href="/choose_area/4">Изумрудки</a>
    </p>
    <img src="{{ url_for('static', filename='img/logo.png') }}" class="main-logo">
{% else %}
    <h3>Купи:</h3>
    {% for item in current_user.player.army %}
        <a href="/buy/">{{ item.race.title }}</a>
    {% endfor %}
{% endif %}
{% endblock %}