{% extends "base.html" %}

{% block content %}
{% if not current_user.player %}
    <h3>Выбери свой район</h3>
    <p>
        <a href="/choose_area/1">Чернево 1</a>
        <a href="/choose_area/2">Чернево 2</a>
        <a href="/choose_area/3">Бруски</a>
        <a href="/choose_area/4">Изумрудки</a>
    </p>
    <img src="{{ url_for('static', filename='img/logo.png') }}" class="main-logo">
{% else %}
    <h3>Нанять юнитов в армию:</h3>
    <form action="" method="post">
        {{ buy_form.hidden_tag() }}
        <p>
            {{ buy_form.race.label }}<br>
            {{ buy_form.race }}<br>
            {% for error in buy_form.race.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ buy_form.number.label }}<br>
            {{ buy_form.number }}<br>
            {% for error in buy_form.number.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ buy_form.submit(type="submit", class="btn btn-primary") }}</p>
        {{ message }}
    </form>
{% endif %}
{% endblock %}