{% extends "base.html" %}

{% block content %}
<h3>Напасть на другого игрока</h3>
<p>*За успешный рейд - вам начисляются деньги и юниты игрока на которого вы напали*</p>
<form action="" method="post">
    {{ raidform.hidden_tag() }}
    {{ raidform.users.label }}
    {% for item in raidform.users %}
        <div class="raid-choose">
            <p class="text-success">
                {{ item }} - {{ item.label }}
            </p>
        </div>
    {% endfor %}
    <p>{{ raidform.submit(type="submit", class="btn btn-primary") }}</p>
    {{ message }}
</form>
{% endblock %}