{% extends "base.html" %}

{% block content %}
<h3>Напасть на другого игрока</h3>
<p>*За успешный рейд вы получаете часть денег и юнитов игрока, на которого вы напали*</p>
<p>*В случае победы у вас также есть шанс получить несколько юнитов одной из рас армии
    противника, которой у вас ещё нет (открыть новую расу)*</p>
<p>*В любом случае потери будут и у вас, и у вашего оппонента, но у победившего их будет меньше*</p>
{% if raidform.users.choices|length >= 1 %}
    <form action="" method="post">
        {{ raidform.hidden_tag() }}
        {{ raidform.users.label }}
        {% for item in raidform.users %}
            <div class="raid-choose">
                <p class="text-success">
                    {{ item }} - {{ item.label }}
                </p>
            </div>
        {% endfor %}
        <p>{{ raidform.submit(type="submit", class="btn btn-primary") }}</p>
        {{ message }}
    </form>
{% else %}
<p>Тут пока никого нет</p>
{% endif %}
{% endblock %}